.category__children-scroll {
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px 0; // Add padding to the top and bottom for spacing
  display: flex;
  justify-content: flex-start; // Start from the left by default
}

.category__children {
  display: flex;
  justify-content: flex-start; // Start from the left
  align-items: center; // Center children vertically
}

@media (min-width: 320px) { // Adjust the breakpoint as needed
  .category__children-scroll {
    justify-content: center; // Center the items if fewer than 4
    padding: 10px 0; // Remove right padding
  }

  .category__children {
    margin-left: 100px; // Push the children to the left if fewer than 4
    margin-right: auto; // Push the children to the right if fewer than 4
  }
}

.category__child {
  margin-right: 10px;
  text-decoration: none; // Remove default underline from links
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category__child-image {
  width: 80px; // Set a fixed width
  height: 80px; // Set a fixed height
  border-radius: 50%; // Ensure the container is a perfect circle
  overflow: hidden; // Hide any content that overflows the container
  border: 0.3px solid #8a8a8a; // Black border
}

.category__child-image img {
  width: 100%; // Make the image fill the container horizontally
  height: 100%; // Make the image fill the container vertically
  object-fit: cover; // Ensure the image covers the entire container
}

.category__child-placeholder {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #fff;
  border: 0.3px solid #8a8a8a; // Black border for placeholder
}

.category__child-name {
  margin-top: 5px; // Adjust as needed
  text-align: center;
  display: block; // Ensure the text is displayed as a block element
}
